/* --- 8. НОВІ СТИЛІ ДЛЯ ПАГІНАЦІЇ --- */
.pagination {
    margin: 40px auto;
    text-align: center;
}
.pagination .step-links a,
.pagination .step-links .disabled {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #004a99; /* Синій */
    text-decoration: none;
    font-weight: bold;
}
.pagination .step-links a:hover {
    background-color: #f0f4f8;
}
.pagination .step-links .disabled {
    color: #aaa;
    background-color: #f9f9f9;
}
.pagination .step-links .current {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    padding: 8px 12px;
}
